<div *ngIf="user">

  <h2>{{user.name | uppercase}}</h2>
  <div><span>id: </span>{{user.id}}</div>
  <div>
    <label>Nombre:
      <input [(ngModel)]="user.name" placeholder="name" />
    </label>
  </div>
  <div>
    <label>Contraseña:
      <input [(ngModel)]="user.pass" placeholder="pass" />
    </label>
  </div>
  <div>
    <label>Email:
      <input [(ngModel)]="user.email" placeholder="email" />
    </label>
  </div>
  <button (click)="goBack()">go back</button>
  <button (click)="save()">save</button>
</div>