/* AppComponent's private CSS styles */
h1 {
    font-size: 2.2em;
    color: rgb(18, 59, 194);
    margin-bottom: 0;
    text-align: center;
  }
  h2 {
    font-size: 2em;
    margin-top: 0;
    padding-top: 0;
  }
  nav a {
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color: rgb(160, 233, 188);
    border-radius: 50px;
    text-align: center;
  }
  nav a:visited, a:link {
    color: #080807;
  }
  nav a:hover {
    color: #039be5;
    background-color: #cfd8dc;
  }
  nav a.active {
    color: #039be5;
  }